
.president-scholarship-form

.president-scholarship-header
  .main-header
.president-scholarship-main
  .section1-student-info
  .section2-achievement
.president-scholarship-footer

.section1-header
.section1-—Åoat-of-arms
.field-block
.field-name
.field-to-fill
.field-hint
.section1-confirmation-check
.add-achievement
.section2-header